.footer {
  background-color: #eaeaea;
}
.footer .footer-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer .footer-container .footerList {
  padding: 20px;
  border-bottom: 1px solid #e4e1e1;
  border-top: 1px solid #e4e1e1;
  overflow: hidden;
  padding-left: 40px;
}
.footer .footer-container .footerList .footerItem {
  width: 16.6666667%;
  float: left;
}
.footer .footer-container .footerList .footerItem h4 {
  font-size: 14px;
}
.footer .footer-container .footerList .footerItem .footerItemCon li {
  line-height: 18px;
}
.footer .footer-container .footerList .footerItem:last-child img {
  width: 121px;
}
.footer .footer-container .copyright {
  padding: 20px;
}
.footer .footer-container .copyright .helpLink {
  text-align: center;
}
.footer .footer-container .copyright .helpLink li {
  display: inline;
}
.footer .footer-container .copyright .helpLink li .space {
  border-left: 1px solid #666;
  width: 1px;
  height: 13px;
  background: #666;
  margin: 8px 10px;
}
.footer .footer-container .copyright p {
  margin: 10px 0;
  text-align: center;
}
